<!DOCTYPE html>
<head>
   <title>Temperature evolution</title>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
   <link  rel="shortcut icon" href="{{ url_for('static', filename='img/icone.ico') }}">
</head>

<body>
	<h1>Temperature evolution</h1>
	<h2>the average Temperature right now is: <span id="mean"></span></h2>
	<div style="width:75%; margin: 0 auto;" >
			<canvas id="canvas"></canvas>
	</div>
</body>
</html>
<script>
	window.chartColors = {
		red: 'rgb(255, 99, 132)',
		orange: 'rgb(255, 159, 64)',
		yellow: 'rgb(255, 205, 86)',
		green: 'rgb(75, 192, 192)',
		blue: 'rgb(54, 162, 235)',
		purple: 'rgb(153, 102, 255)',
		grey: 'rgb(201, 203, 207)'
    };
	var config = {
			type: 'line',
			data: {
				labels: Array(0 - (-9) + 1).fill(-9).map((x, y) => x + y),
				datasets: [{
					label: 'Thermometer 1',
					fill: false,
					backgroundColor: window.chartColors.red,
					borderColor: window.chartColors.red,
					data: []
				}, {
					label: 'Thermometer 2',
					fill: false,
					backgroundColor: window.chartColors.blue,
					borderColor: window.chartColors.blue,
					data: [],
				},{
					label: 'Thermometer 3',
					fill: false,
					backgroundColor: window.chartColors.green,
					borderColor: window.chartColors.yellow,
					data: []
				},{
					label: 'Thermometer 4',
					fill: false,
					backgroundColor: window.chartColors.grey,
					borderColor: window.chartColors.grey,
					data: []
				}]
			},
			options: {
				responsive: true,
				title: {
					display: true,
					text: 'Temperature evolution'
				},
				tooltips: {
					mode: 'index',
					intersect: false,
				},
				hover: {
					mode: 'nearest',
					intersect: true
				},
				scales: {
					xAxes: [{
						display: true,
						scaleLabel: {
							display: true,
							labelString: 'Seconds'
						}
					}],
					yAxes: [{
						display: true,
						scaleLabel: {
							display: true,
							labelString: 'Value in C'
						}
					}]
				}
			}
	};
	function loadData(dCode,url="/data/") {
		var xhttp;
		xhttp=new XMLHttpRequest()
		xhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {
				var myData = xhttp.responseText
				myData=myData.replace(/\s|\[|\]|\n/g, "").split(',').map(Number);
				config["data"]["datasets"][dCode-1]["data"]=myData.reverse();
				chart.update();
			}
		}
		url=url+String(dCode)
		xhttp.open("GET", url, true)
		xhttp.send()
	}
	document.getElementById("mean").innerHTML=""
	function loadMean(url="/mean") {
		var xhttp,mean;
		xhttp=new XMLHttpRequest()
		xhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {
				mean = xhttp.responseText
				document.getElementById("mean").innerText=JSON.parse(mean).myMean.toFixed(2);
			}
		}
		xhttp.open("GET", url, true)
		xhttp.send()
	}
	window.onload = function() {
		var ctx = document.getElementById('canvas').getContext('2d');
		chart = new Chart(ctx, config);
		window.setInterval(function(){
			loadData(1)
			loadData(2)
			loadData(3)
			loadData(4)
			loadMean()
		},1000);
	};
</script>